---
layout: page
title: Projects
header: Posts By Tag
group: navigation
---
{% include JB/setup %}

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>

<div id="github-projects"></div>
<div id="collob-projects"></div>
{% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="git.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $("#github-projects").loadRepositories("arpan-chavda");
    $("#collob-projects").loadRepositories("codejar-lab");
  });
</script>

